{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<h1 class="page_name">
    О нас
</h1>
<div class="main_text">
    Наша организация: ООО  &laquo;Рога и копыта&raquo; предоставляет классные шмотки!
</div>
<div class="main_text">
    Наш адрес: Цветочный город, аллея Одуванчиков, дом 15
</div>
<div class="main_text">
    Наш телефон: +7 322 223 22 33 - и не звоните нам!
</div>
<div class="main_text">
    Наш email: <a href="mailto:ded@village.com">ded@village.com</a>
</div>
{% endblock %}